@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

:root {
 /*PALETA MODO CLARO */
  --primary-color: #F58634;

  /* Fondos */
  --bg-app: #f4f6f8;
  --bg-card: #ffffff;
  --bg-input: #ffffff;

  /* Textos */
  --text-main: #1a1a1a;
  --text-secondary: #555555;
  --text-inverse: #ffffff;

  /* Bordes y Detalles */
  --border-color: #e5e7eb;
  --shadow-color: rgba(0, 0, 0, 0.05);
}

/* PALETA MODO OSCURO */
body.dark-mode {
  /* Fondos Oscuros */
  --bg-app: #121212;
  --bg-card: #1e1e1e;
  --bg-input: #2c2c2c;

  /* Textos Claros */
  --text-main: #e0e0e0;
  --text-secondary: #aaaaaa;

  /* Bordes */
  --border-color: #333333;
  --shadow-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  background-color: var(--bg-app);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button {
  background-color: var(--primary-color);
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: #e07024;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
