<div class="page-container">

  <div class="header-box">
    <div>
      <h1>Mis Opiniones Enviadas</h1>
      <p>Historial de valoraciones que has dejado a especialistas.</p>
    </div>
    <div class="score-box">
      <span class="score">{{ promedio() }}</span>
      <div class="stars-general">
        <span class="star-icon">⭐</span>
      </div>
      <span class="count">{{ resenas().length }} reseñas dadas</span>
    </div>
  </div>

  @if (isLoading()) {
  <div class="loading-container">
    <div class="spinner"></div>
    <p>Cargando tus opiniones...</p>
  </div>
  } @else {
  <div class="resenas-grid">
    @for (resena of resenas(); track resena.resenaId) {
    <div class="resena-card">
      <div class="top">
        <div class="user">
          <div class="user">
        <div class="avatar-resena-wrapper">
          @if (resena.fotoUrlEspecialista) {
            <img [src]="resena.fotoUrlEspecialista" class="avatar-resena-img" alt="Foto">
          } @else {
            <div class="avatar-resena-initials fallback-orange">
              {{ resena.nombreEspecialista ? resena.nombreEspecialista.charAt(0).toUpperCase() : 'E' }}
            </div>
          }
        </div>
      </div>
          <div class="user-info">
            <span class="role-label">Para:</span>
            <strong>{{ resena.nombreEspecialista || 'Especialista' }}</strong>
          </div>
        </div>

        <div class="stars-display">
          @for (s of getEstrellas(resena.puntuacion); track $index) {
          <span [class.filled]="s === 1">★</span>
          }
        </div>
      </div>

      <p class="texto">"{{ resena.comentario }}"</p>
    </div>
    } @empty {
    <div class="empty-state">
      <p>Aún no has enviado ninguna reseña.</p>
    </div>
    }
  </div>
  }
</div>
