<form class="app-form-content" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <h1>Crear Cuenta</h1>
  <span>Usa tu email para registrarte</span>

  <div class="form-field">
    <input id="reg-nombre" formControlName="nombre" type="text" placeholder=" " />
    <label for="reg-nombre">Nombre</label>
  </div>
  @if (registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched) {
  <small class="error-message">El nombre es obligatorio.</small>
  }

  <div class="form-field">
    <input id="reg-apellido" formControlName="apellido" type="text" placeholder=" " />
    <label for="reg-apellido">Apellido</label>
  </div>
  @if (registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched) {
  <small class="error-message">El apellido es obligatorio.</small>
  }

  <div class="form-field">
    <input id="reg-email" formControlName="email" type="email" placeholder=" " />
    <label for="reg-email">Email</label>
  </div>
  @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
  <small class="error-message">Ingresa un email válido.</small>
  }

  <div class="form-field">

    <div class="password-wrapper">

      <input id="reg-password" formControlName="password" [type]="showPassword() ? 'text' : 'password'"
        placeholder=" " />

      <label for="reg-password">Contraseña</label>

      <button type="button" class="toggle-btn" (click)="togglePassword()" tabindex="-1">
        @if (showPassword()) {
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            [attr.d]="icons.EYE_OPEN" />
        </svg>
        } @else {
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            [attr.d]="icons.EYE_CLOSED" />
        </svg>
        }
      </button>

    </div>
  </div>
  @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
  <small class="error-message">La contraseña debe tener al menos 6 caracteres.</small>
  }

  @if (registerError) {
  <div class="server-error-message">
    {{ registerError }}
  </div>
  }

  <button class="cta-button" type="submit" [disabled]="registerForm.invalid">
    Registrarse
  </button>

  <p class="mobile-toggle-link">
    ¿Ya tienes una cuenta?
    <a (click)="onToggle()">Inicia sesión aquí</a>
  </p>

</form>
