<div class="admin-container">

  <header class="page-header">
    <h1>Gestión de Usuarios</h1>
    <p>Administra el acceso y roles de los usuarios registrados.</p>
  </header>

  @if (isLoading()) {
  <div class="loading-state">Cargando usuarios...</div>
  } @else {
  <div class="table-container">
    <table class="users-table">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Roles</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (user of usuarios(); track user.email) {
        <tr [class.disabled-row]="!user.activo">

          <td>
            <div class="user-profile">
              <div class="avatar-placeholder">{{ user.nombre.charAt(0) }}</div>
              <div class="user-names">
                <span class="fullname">{{ user.nombre }} {{ user.apellido }}</span>
              </div>
            </div>
          </td>

          <td>
            <div class="roles-list">
              @for (rol of user.roles; track rol) {
              <span class="badge role" [class.admin]="rol === 'ADMIN'">{{ rol }}</span>
              }
            </div>
          </td>

          <td>
            <div class="status-cell">
              <label class="switch" title="Click para activar/desactivar">
                <input
                  type="checkbox"
                  [checked]="user.activo"
                  (change)="toggleEstadoUsuario(user, $event)"
                >
                <span class="slider"></span>
              </label>

              <span class="status-text" [class.active]="user.activo">
                {{ user.activo ? 'Activo' : 'Inactivo' }}
              </span>
            </div>
          </td>

          <td>
            <div class="actions">
              <button class="btn-icon view" title="Ver y Editar" (click)="verDetalle(user)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 24 24">
                  <path d="M12 9a3 3 0 1 0 0 6 3 3 0 1 0 0-6"></path>
                  <path d="M12 19c7.63 0 9.93-6.62 9.95-6.68.07-.21.07-.43 0-.63-.02-.07-2.32-6.68-9.95-6.68s-9.93 6.61-9.95 6.67c-.07.21-.07.43 0 .63.02.07 2.32 6.68 9.95 6.68Zm0-12c5.35 0 7.42 3.85 7.93 5-.5 1.16-2.58 5-7.93 5s-7.42-3.84-7.93-5c.5-1.16 2.58-5 7.93-5">
                  </path>
                </svg>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>

@if (usuarioSeleccionado()) {
<app-modal-detalle-usuario [usuario]="usuarioSeleccionado()!" (cerrar)="cerrarDetalle()">
</app-modal-detalle-usuario>
}
