:host {
  display: block;
  width: 100%;
  background-color: #fff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 24px;
  box-sizing: border-box;
}

.navbar-logo img {
  height: 30px;
  width: auto;
  display: block;
}

.btn-login, .btn-register {
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 500;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.btn-register {
  background-color: #fffeee;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-register:hover {
  background-color: #e4e3d6;
  color: var(--primary-color);
}


