<div class="general-html">

  @if (showConfirmDialog()) {
  <app-admin-dialog-confirm
    [itemName]="currentOffcioToDelete.nombre!"
    (confirm)="handleDeleteConfirmation($event)">
  </app-admin-dialog-confirm>
  }

  <div class="header-contenedor">
    <h1 class="rol-titulo">Gestión de Oficios</h1> <p class="rol-subtitulo">
      Bienvenido a la sección de oficios, aquí podrá administrar los oficios disponibles en el sistema.
    </p>
  </div>

  @if (pageMessage().visible) {
  <div class="alert-message" [class]="pageMessage().type">
    {{ pageMessage().message }}
  </div>
  }

  <div class="tabla-general">
    <table class="roles-tabla"> <thead>
        <tr>
          <th>Nombre del Oficio</th>
          <th class="acciones-col">Acciones</th>
        </tr>
      </thead>
      <tbody>


          @for (oficio of oficios(); track oficio.id) {
          <tr>
            <td class="nombre-contenedor">
              <span class="rol-nombre">{{ oficio.nombre }}</span>
            </td>
            <td class="acciones-opciones" style="text-align: center;">
              <button class="icon-btn" (click)="eliminarOficio(+oficio.id, oficio.nombre.toString())" title="Eliminar">
                🗑️
              </button>
              <button class="icon-btn" (click)="mostrarAvisoEdicion()" title="Modificar">
                📋
              </button>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="2" class="empty-cell">No hay oficios registrados.</td>
          </tr>
          }

      </tbody>
    </table>
  </div>

</div>

<div class="button-form-contenedor">
  <button class="cta-button" (click)="toggleForm()">
    {{ formStatus() === 'creating' ? 'Cerrar' : 'Nuevo Oficio' }}
  </button>
</div>

<div class="oficio-list-footer"> @if (formStatus() === 'creating') {
    <app-oficios-form-admin-component></app-oficios-form-admin-component>
  }
</div>
