<div class="reset-wrapper">
  <div class="reset-card">

    @if (mensajeExito()) {
    <div class="icono-exito">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round">
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
    </div>
    <h2>¡Contraseña actualizada!</h2>
    <p class="texto-secundario">{{ mensajeExito() }}</p>
    <button class="cta-button" (click)="irAlLogin()">Ir a Iniciar Sesión</button>
    }

    @if (!mensajeExito()) {
    <h1>Crear nueva contraseña</h1>
    <p class="texto-secundario">Por favor, ingresá tu nueva contraseña para acceder a FindFix.</p>

    @if (mensajeError()) {
    <div class="alerta alerta-error">
      {{ mensajeError() }}
    </div>
    }

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <div class="password-wrapper">
          <input id="nuevaPassword" formControlName="nuevaPassword" [type]="showPassword() ? 'text' : 'password'"
            placeholder=" " />
          <label for="nuevaPassword">Nueva Contraseña</label>

          <button type="button" class="toggle-btn" (click)="togglePassword()" tabindex="-1">
            @if (showPassword()) {
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="icons.EYE_OPEN" />
            </svg>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="icons.EYE_CLOSED" />
            </svg>
            }
          </button>
        </div>

        @if (resetForm.get('nuevaPassword')?.invalid && resetForm.get('nuevaPassword')?.touched) {
        <small class="error-text">
          La contraseña debe tener al menos 6 caracteres.
        </small>
        }
      </div>

      <button type="submit" class="cta-button" [disabled]="enviando()">
        {{ enviando() ? 'Guardando...' : 'Guardar nueva contraseña' }}
      </button>
    </form>

    <button class="btn-outline" (click)="irAlLogin()">Cancelar</button>
    }

  </div>
</div>
