<div class="content-card">

  <div class="form-columna">
    <h2>Solicitar ser Especialista</h2>
    <p>Envía una solicitud para que un administrador revise tu perfil. Describe por qué quieres unirte a nuestra red.
    </p>

    @if (mensajeError()) {
    <div class="error" role="alert">{{ mensajeError() }}</div>
    }

    <form [formGroup]="solicitudForm" (ngSubmit)="enviarSolicitud()">
      <div class="form-field">
        <textarea id="motivo" formControlName="motivo" rows="6"
          placeholder="Ej: Soy plomero con 5 años de experiencia..."></textarea>

        @if (solicitudForm.get('motivo')?.invalid && (solicitudForm.get('motivo')?.touched ||
        solicitudForm.get('motivo')?.dirty)) {
        <div class="form-error" role="alert">
          @if (solicitudForm.get('motivo')?.hasError('required')) {
          El motivo es requerido.
          }
          @if (solicitudForm.get('motivo')?.hasError('minlength')) {
          El motivo debe tener al menos 10 caracteres.
          }
        </div>
        }
      </div>

      <button class="cta-button" type="submit" [disabled]="solicitudForm.invalid">
        Enviar Solicitud
      </button>
    </form>
  </div>

  <div class="info-columna">
    <div class="info-icono">
    <svg class="sol-esp" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 10h8l-1-3a4 4 0 0 0-6 0l-1 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v2" />
                <circle cx="12" cy="13" r="2.5" stroke="currentColor" stroke-width="1.2" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.5 13.2h-.5m6 0h-.5" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M7 20c1-3 3-5 5-5s4 2 5 5" />
              </svg>
    </div>
    <h3>¿Qué sigue después?</h3>
    <p>Una vez que envíes tu solicitud, nuestro equipo la revisará.</p>
    <ul class="pasos-lista">
      <li><span>1.</span> Envío de la solicitud.</li>
      <li><span>2.</span> Revisión por un administrador.</li>
      <li><span>3.</span> Recibirás una respuesta en tu historial.</li>
    </ul>
    <p class="info-footer">Este proceso puede tardar de 24 a 48hs hábiles.</p>
  </div>

</div>

@if (isModalOpen()) {
  <app-modal-confirmacion
    tipo="exito"
    titulo="¡Solicitud Enviada!"
    mensaje="Tu solicitud ha sido creada con éxito. Un administrador la revisará pronto."
    textoConfirmar="Ver Historial"
    textoCancelar="Ir al Inicio"
    [mostrarBotonCancelar]="true"
    (confirmar)="onModalIrHistorial()"
    (cancelar)="onModalIrInicio()">
  </app-modal-confirmacion>
}
