:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f6f5f7;
  background-image:
    radial-gradient(ellipse at center,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.5) 90%),
    url('/images/fondo.png');

  background-repeat: repeat;
}


.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out, border-radius 0.6s ease-in-out;
  border-radius: 150px 0 0 150px;
  z-index: 100;
}

.toggle {
  background: var(--primary-color);
  background: linear-gradient(to right, #ff4b2b, var(--primary-color));
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0 0 16px 0;
  line-height: 1.2;
}

.toggle-panel p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.toggle-left {
  transform: translateX(-200%);
  padding-left: 0;
}

.toggle-right {
  right: 0;
  transform: translateX(0);
  padding-right: 0;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 150px 0;
}

.container.active .toggle {
  transform: translateX(50%);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.cta-button.ghost {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.cta-button.ghost:hover {
  background-color: #fff;
  color: var(--primary-color, #F58634);
}
